<?xml version="1.0" ?>
<module name="Checker">
  <module name="TreeWalker">
    <module name="Checkstyle_ExecutableStatementCount">
      <property name="severity" value="warning"/>
    </module>
    <module name="Checkstyle_TypeName">
      <property name="severity" value="warning"/>
    </module>
    <module name="Checkstyle_SuperClone">
      <property name="severity" value="warning"/>
    </module>
    <module name="Checkstyle_AbbreviationAsWordInName">
      <property name="severity" value="warning"/>
      <property name="ignoreStaticFinal" value="true"/>
      <property name="ignoreOverriddenMethods" value="true"/>
      <property name="allowedAbbreviations" value=""/>
      <property name="allowedAbbreviationLength" value="3"/>
      <property name="ignoreStatic" value="true"/>
      <property name="tokens" value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF, ANNOTATION_DEF, ANNOTATION_FIELD_DEF, PARAMETER_DEF, VARIABLE_DEF, METHOD_DEF, PATTERN_VARIABLE_DEF, RECORD_DEF, RECORD_COMPONENT_DEF"/>
      <property name="ignoreFinal" value="true"/>
    </module>
    <module name="Checkstyle_AnnotationLocation">
      <property name="severity" value="warning"/>
    </module>
    <module name="Checkstyle_AnnotationUseStyle">
      <property name="severity" value="warning"/>
    </module>
    <module name="Checkstyle_AnonInnerLength">
      <property name="severity" value="warning"/>
    </module>
    <module name="Checkstyle_ArrayTypeStyle">
      <property name="severity" value="warning"/>
      <property name="javaStyle" value="true"/>
    </module>
    <module name="Checkstyle_AvoidNestedBlocks">
      <property name="severity" value="warning"/>
      <property name="allowInSwitchCase" value="false"/>
    </module>
    <module name="Checkstyle_AvoidStarImport">
      <property name="severity" value="warning"/>
      <property name="allowClassImports" value="false"/>
      <property name="allowStaticMemberImports" value="false"/>
      <property name="excludes" value=""/>
    </module>
    <module name="Checkstyle_AvoidStaticImport">
      <property name="severity" value="warning"/>
      <property name="excludes" value=""/>
    </module>
  </module>
</module>
